QNHDemo.WP/Service References/ijMobile/ijmobile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://www.qnh.nl/xsd/caseload" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.qnh.nl/xsd/caseload" />
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginNaam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wachtwoord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LoginResultaat" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginResultaat">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NaamMedewerker" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:LoginStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LoginStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Succes" />
          <s:enumeration value="ToestelGeblokkeerd" />
          <s:enumeration value="OngeldigeGegevens" />
          <s:enumeration value="GebruikerGeblokkeerd" />
          <s:enumeration value="GeneriekeFout" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GeefCaseLoad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeefCaseLoadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeefCaseLoadResult" type="tns:CaseloadResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CaseloadResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:SessionStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="Jeugdigen" type="s1:Jeugdigen" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SessionStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Ok" />
          <s:enumeration value="Verlopen" />
          <s:enumeration value="Ongeldig" />
        </s:restriction>
      </s:simpleType>
      <s:element name="VoegContactJournaalToe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="onderwerp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inhoud" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hulpverleningID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="datum" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoegContactJournaalToeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VoegContactJournaalToeResult" type="tns:SessionStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoegContactJournalenToe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="journalen" type="tns:ArrayOfContactJournaal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContactJournaal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContactJournaal" nillable="true" type="tns:ContactJournaal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactJournaal">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HulpVerleningId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Onderwerp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Inhoud" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Datum" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MedewerkerID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="VoegContactJournalenToeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VoegContactJournalenToeResult" type="tns:SessionStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResultaat" nillable="true" type="tns:LoginResultaat" />
      <s:element name="CaseloadResult" nillable="true" type="tns:CaseloadResult" />
      <s:element name="SessionStatus" type="tns:SessionStatus" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.qnh.nl/xsd/caseload">
      <s:complexType name="Jeugdigen">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Jeugdige">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
                <s:element minOccurs="1" maxOccurs="1" name="HulpverleningId" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="TypeHulpverlening" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="IsEersteContactPersoon" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Naam" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="Geslacht" type="s1:GeslachtType" />
                <s:element minOccurs="1" maxOccurs="1" name="GeboorteDatum" type="s:date" />
                <s:element minOccurs="0" maxOccurs="1" name="Adressen" type="s1:AdresType" />
                <s:element minOccurs="0" maxOccurs="1" name="Bereikbaarheid" type="s1:BereikbaarheidType" />
                <s:element minOccurs="0" maxOccurs="1" name="Aantekeningen" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Relaties" type="s1:ArrayOfJeugdigenJeugdigeRelatie" />
                <s:element minOccurs="0" maxOccurs="1" name="ContactJournaals">
                  <s:complexType mixed="true">
                    <s:sequence>
                      <s:element minOccurs="0" maxOccurs="unbounded" name="ContactJournaal">
                        <s:complexType>
                          <s:sequence>
                            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
                            <s:element minOccurs="0" maxOccurs="1" name="Inhoud" type="s:string" />
                            <s:element minOccurs="1" maxOccurs="1" name="Datum" type="s:date" />
                            <s:element minOccurs="0" maxOccurs="1" name="Medewerker" type="s:string" />
                            <s:element minOccurs="0" maxOccurs="1" name="Omschrijving" type="s:string" />
                          </s:sequence>
                        </s:complexType>
                      </s:element>
                    </s:sequence>
                  </s:complexType>
                </s:element>
                <s:element minOccurs="0" maxOccurs="1" name="Samenvatting">
                  <s:complexType>
                    <s:sequence>
                      <s:element minOccurs="0" maxOccurs="1" name="Gezag" type="s:string" />
                      <s:element minOccurs="0" maxOccurs="1" name="Zorg" type="s:string" />
                      <s:element minOccurs="0" maxOccurs="1" name="Beschikking" type="s:string" />
                    </s:sequence>
                  </s:complexType>
                </s:element>
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="GeslachtType">
        <s:restriction base="s:string">
          <s:enumeration value="M" />
          <s:enumeration value="V" />
          <s:enumeration value="O" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="AdresType" mixed="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Adres">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="Straat" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="HuisNummer" type="s:short" />
                <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Plaats" type="s:string" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="BereikbaarheidType" mixed="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Bereikbaar">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="Soort" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Waarde" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="Opmerkingen" type="s:string" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfJeugdigenJeugdigeRelatie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Relatie">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="Soort" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" name="Naam" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="Geslacht" type="s1:GeslachtType" />
                <s:element minOccurs="0" maxOccurs="1" name="GeboorteDatum" type="s:date" />
                <s:element minOccurs="0" maxOccurs="1" name="Adressen" type="s1:AdresType" />
                <s:element minOccurs="0" maxOccurs="1" name="Bereikbaarheid" type="s1:BereikbaarheidType" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GeefCaseLoadSoapIn">
    <wsdl:part name="parameters" element="tns:GeefCaseLoad" />
  </wsdl:message>
  <wsdl:message name="GeefCaseLoadSoapOut">
    <wsdl:part name="parameters" element="tns:GeefCaseLoadResponse" />
  </wsdl:message>
  <wsdl:message name="VoegContactJournaalToeSoapIn">
    <wsdl:part name="parameters" element="tns:VoegContactJournaalToe" />
  </wsdl:message>
  <wsdl:message name="VoegContactJournaalToeSoapOut">
    <wsdl:part name="parameters" element="tns:VoegContactJournaalToeResponse" />
  </wsdl:message>
  <wsdl:message name="VoegContactJournalenToeSoapIn">
    <wsdl:part name="parameters" element="tns:VoegContactJournalenToe" />
  </wsdl:message>
  <wsdl:message name="VoegContactJournalenToeSoapOut">
    <wsdl:part name="parameters" element="tns:VoegContactJournalenToeResponse" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="loginNaam" type="s:string" />
    <wsdl:part name="wachtwoord" type="s:string" />
    <wsdl:part name="deviceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:LoginResultaat" />
  </wsdl:message>
  <wsdl:message name="GeefCaseLoadHttpGetIn">
    <wsdl:part name="loginToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GeefCaseLoadHttpGetOut">
    <wsdl:part name="Body" element="tns:CaseloadResult" />
  </wsdl:message>
  <wsdl:message name="VoegContactJournaalToeHttpGetIn">
    <wsdl:part name="loginToken" type="s:string" />
    <wsdl:part name="onderwerp" type="s:string" />
    <wsdl:part name="inhoud" type="s:string" />
    <wsdl:part name="hulpverleningID" type="s:string" />
    <wsdl:part name="datum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VoegContactJournaalToeHttpGetOut">
    <wsdl:part name="Body" element="tns:SessionStatus" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="loginNaam" type="s:string" />
    <wsdl:part name="wachtwoord" type="s:string" />
    <wsdl:part name="deviceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:LoginResultaat" />
  </wsdl:message>
  <wsdl:message name="GeefCaseLoadHttpPostIn">
    <wsdl:part name="loginToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GeefCaseLoadHttpPostOut">
    <wsdl:part name="Body" element="tns:CaseloadResult" />
  </wsdl:message>
  <wsdl:message name="VoegContactJournaalToeHttpPostIn">
    <wsdl:part name="loginToken" type="s:string" />
    <wsdl:part name="onderwerp" type="s:string" />
    <wsdl:part name="inhoud" type="s:string" />
    <wsdl:part name="hulpverleningID" type="s:string" />
    <wsdl:part name="datum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VoegContactJournaalToeHttpPostOut">
    <wsdl:part name="Body" element="tns:SessionStatus" />
  </wsdl:message>
  <wsdl:portType name="IJMobileSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeefCaseLoad">
      <wsdl:input message="tns:GeefCaseLoadSoapIn" />
      <wsdl:output message="tns:GeefCaseLoadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VoegContactJournaalToe">
      <wsdl:input message="tns:VoegContactJournaalToeSoapIn" />
      <wsdl:output message="tns:VoegContactJournaalToeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VoegContactJournalenToe">
      <wsdl:input message="tns:VoegContactJournalenToeSoapIn" />
      <wsdl:output message="tns:VoegContactJournalenToeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IJMobileHttpGet">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GeefCaseLoad">
      <wsdl:input message="tns:GeefCaseLoadHttpGetIn" />
      <wsdl:output message="tns:GeefCaseLoadHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VoegContactJournaalToe">
      <wsdl:input message="tns:VoegContactJournaalToeHttpGetIn" />
      <wsdl:output message="tns:VoegContactJournaalToeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IJMobileHttpPost">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GeefCaseLoad">
      <wsdl:input message="tns:GeefCaseLoadHttpPostIn" />
      <wsdl:output message="tns:GeefCaseLoadHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VoegContactJournaalToe">
      <wsdl:input message="tns:VoegContactJournaalToeHttpPostIn" />
      <wsdl:output message="tns:VoegContactJournaalToeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IJMobileSoap" type="tns:IJMobileSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeefCaseLoad">
      <soap:operation soapAction="http://tempuri.org/GeefCaseLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoegContactJournaalToe">
      <soap:operation soapAction="http://tempuri.org/VoegContactJournaalToe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoegContactJournalenToe">
      <soap:operation soapAction="http://tempuri.org/VoegContactJournalenToe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IJMobileSoap12" type="tns:IJMobileSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeefCaseLoad">
      <soap12:operation soapAction="http://tempuri.org/GeefCaseLoad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoegContactJournaalToe">
      <soap12:operation soapAction="http://tempuri.org/VoegContactJournaalToe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoegContactJournalenToe">
      <soap12:operation soapAction="http://tempuri.org/VoegContactJournalenToe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IJMobileHttpGet" type="tns:IJMobileHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeefCaseLoad">
      <http:operation location="/GeefCaseLoad" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoegContactJournaalToe">
      <http:operation location="/VoegContactJournaalToe" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IJMobileHttpPost" type="tns:IJMobileHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeefCaseLoad">
      <http:operation location="/GeefCaseLoad" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoegContactJournaalToe">
      <http:operation location="/VoegContactJournaalToe" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IJMobile">
    <wsdl:port name="IJMobileSoap" binding="tns:IJMobileSoap">
      <soap:address location="https://bjlwb003.bjzlimburg.lan/ONTW/ijmobile.asmx" />
    </wsdl:port>
    <wsdl:port name="IJMobileSoap12" binding="tns:IJMobileSoap12">
      <soap12:address location="https://bjlwb003.bjzlimburg.lan/ONTW/ijmobile.asmx" />
    </wsdl:port>
    <wsdl:port name="IJMobileHttpGet" binding="tns:IJMobileHttpGet">
      <http:address location="https://bjlwb003.bjzlimburg.lan/ONTW/ijmobile.asmx" />
    </wsdl:port>
    <wsdl:port name="IJMobileHttpPost" binding="tns:IJMobileHttpPost">
      <http:address location="https://bjlwb003.bjzlimburg.lan/ONTW/ijmobile.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>